$main-color-blue: #163E6C;
$main-color-red: #D20A11;
$main-color-beige: #EBE6D6;
$main-color-white: #FFFFFF;
$main-color-black: #1a1a1a;
$main-color-light-gray: #d2d2d2;
$main-color-gray: #838383;
$background-overlay: rgba(0, 0, 0, 0.5);
$button-hover-bg: #f32c32;