@import 'colors';

.detail-card {
  height: auto;
  flex: 0 0 100px; /* Collapsed width */
  transition: flex 0.5s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f8f9fa;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  
  &.expanded {
    flex: 0 0 300px; /* Expanded width */
    border-right: $main-color-red solid 0.5rem;
  }
  
  .detail-card__details {
    text-align: left;
    padding-top: 8px;
  }
}

.detail-card__header {
  font-size: 1.4rem; /* Adjust size as needed */
  margin-bottom: 10px; /* Space between header and details */
  writing-mode: vertical-lr; /* Keeps header vertical */
  transform: rotate(180deg); /* Rotate header */

  &.expanded {
    font-size: 2rem;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
}