@import 'colors';

.detail-card-claim {
  display: flex;
  flex: 0 0 120px; /* Collapsed width */
  height: auto;
  min-height: 500px;
  max-width: 600px;
  transition: flex 0.5s ease;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  background-color: #f8f9fa;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  border-right: $main-color-light-gray solid 0.5rem;
  cursor: pointer;
  
  &.expanded {
    flex: 0 0 300px; /* Expanded width */
    border-right: $main-color-light-gray solid 0.1rem;
    background-color: $main-color-white;
  }

  &__header {
    font-size: 1.4rem;
    color: $main-color-black;
    margin-bottom: 10px;
  
      &.expanded {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  
    &__model, &__serial, &__description {
      font-weight: bold;
      color: $main-color-black;
    }
  
  &__details {
    word-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;

    p {
      color: $main-color-gray;
    }
  }
}
