@import 'colors';
@import 'fonts';

.equipment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &__table-container {
        max-height: auto;
        overflow-y: auto;
      }
      
    &__table-scroll {
      max-width: 1000px;
    }

    &__title {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }
    
    .table {
        width: auto;
        height: auto;
        table-layout: fixed;
        border-collapse: collapse;
        font-size: 1.6rem;
        margin: 1rem 0 5rem;
      }
      
      .table th {
        padding: 12px 20px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        align-content: center;
        overflow: hidden;
        word-break: break-word;
        white-space: nowrap;
        word-break: keep-all;
        background-color: $main-color-light-gray;
      }

      .table td {
        padding: 0.5rem 0.5rem;
      }
      
      .table td:first-child {
        vertical-align: middle;
      }
      
      .table tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }
    
    /* Detail view styling */
    &__details-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      background-color: $main-color-white;
    }
    
    &__cards-container {
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      gap: 15px;
      padding: 15px;
      width: 100%;
    }
}