@import 'colors';
@import '_mixins';

.equipment-filter{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
    gap: 20px;

    @include respond-to("medium") {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    @include respond-to("small") {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0;
    }

    label {
        font-size: 1.6rem;
    
        @include respond-to("small") {
            width: 100%;
        }
    }
    
    select {

        @include respond-to("medium") {
            width: 100%;
        }

        @include respond-to("small") {
            width: 100%;
        }
    }
}