@import 'colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem 4rem;
  background-color: $main-color-beige;
  color: $main-color-black;

  &-logo {
    width: 20rem;
    min-width: 15rem;
  }

  &-text {
    display: flex;
    flex-direction: column;
    line-height: 1.5;

    &__contacts {
      font-size: 1.4rem;
    }

    &__title {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &-auth {
    background-color: $main-color-red;
    color: $main-color-white;
    
    &__logout-button, &__login-button {
      display: flex;
      align-items: center;
      background-color: $main-color-red;
      color: $main-color-white;
      border: none;
      font-size: 1.2rem;
      padding: 1rem 2rem;
      cursor: pointer;

      &:hover {
        background-color: $button-hover-bg;
      }
    }
  }
}

.responsive-button__open {
  display: none;
}

@media all and (max-width: 850px) {
  .responsive-button__open {
    display: flex;
    position: absolute;
    top: 3rem;
    right: 3rem;
    background-image: url(../assets/media/responsive-button-open.svg);
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 2;
  }

  .responsive-button__close {
    background-image: url(../assets/media/responsive-button-close.svg);
    width: 2.7rem;
    height: 2.7rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .responsive-menu {
    padding: 0 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $main-color-beige;
    z-index: 1;
    transition: transform 0.3s ease;

    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }

  .menu-open .responsive-menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .responsive-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  }

  .responsive-logo {
    width: 150px;
    height: 150px;
  }

  .responsive-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .responsive-nav__login-button, .responsive-nav__logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color-red;
    color: $main-color-white;
    border: none;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    width: 20rem;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $main-color-white;
    }

    &:hover {
      background-color: $button-hover-bg;
    }
  }

  .responsive-header-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px;
    text-align: center;

    &__contacts {
      font-size: 1.4rem;
    }

    &__title {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  .header-text {
    display: none;
  }

  .header-auth {
    display: none;
  }
}