@import 'fonts';
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: $font-regular;
  height: 100%;
  max-width: 100vw;
}

html {
  font-size: 10px;
}

:root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  --transition: all 0.3s ease;
  --padding: 0.625rem 1.25rem;

  .main-content {
    flex: 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-bold;
  }
  p, li, ul, a {
    font-family: $font-regular;
  }
//---- Buttons ---- //
  .save-button {
    border: none;
    border-radius: 0.5rem;
    color: $main-color-black;
    background-color: $main-color-white;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    padding: 1px 6px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: $main-color-white;
      background-color: green;
    }
  }

  .delete-button {
    border: none;
    border-radius: 0.5rem;
    color: $main-color-black;
    background-color: $main-color-white;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    padding: 1px 6px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: $main-color-white;
      background-color: $main-color-red;
    }
  }

  .edit-button {
    border: none;
    background: none;
    border-radius: 0.5rem;
    color: $main-color-black;
    background-color: $main-color-white;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    padding: 1px 6px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: $main-color-white;
      background-color: $main-color-blue;
    }
  }

  .cancel-button {
    border: none;
    background: none;
    border-radius: 0.5rem;
    color: $main-color-black;
    background-color: $main-color-white;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    padding: 1px 6px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: $main-color-white;
      background-color: $main-color-blue;
    }
  }

//---- Detail Cards ---- //
  .detail-card {
    display: flex;
    flex: 0 0 110px; /* Collapsed width */
    height: auto;
    width: auto;
    transition: flex 0.5s ease;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    background-color: #f8f9fa;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-right: $main-color-light-gray solid 0.5rem;
    cursor: pointer;
    
    &.expanded {
      flex: 0 0 auto;
      max-width: 300px;
      border-right: $main-color-light-gray solid 0.1rem;
      background-color: $main-color-white;
    }

    &__header {
      font-size: 1.4rem;
      color: $main-color-black;
      margin-bottom: 10px;
    
        &.expanded {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    
      &__model, &__serial, &__description {
        font-weight: bold;
        color: $main-color-black;
      }
    
    &__details {
      word-wrap: break-word;
      hyphens: auto;
      white-space: pre-wrap;

      p {
        color: $main-color-gray;
      }
    }
  }

  input {
    height: auto;
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 8px;
  }



  /* For 360x640 (Mobile Devices) */
@media (min-width: 360px) and (max-width: 640px) {

}

/* For 1440x900 (Small Laptops) */
@media (min-width: 1440px) and (max-width: 900px) {

}

/* For 1536x864 (Medium Laptops) */
@media (min-width: 1536px) and (max-width: 864px) {

}

/* For 1366x768 (Standard Laptops) */
@media (min-width: 1366px) and (max-width: 768px) {

}

/* For 1920x1080 (Full HD Displays) */
@media (min-width: 1920px) {

}
}
