@import 'colors';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: $background-overlay;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      background: $main-color-white;
      padding: 20px;
      border-radius: 8px;
      position: relative;
      width: 30rem;
      height: auto;
  
      h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
    }

    &__login-form {
      text-align: left;
    }

    &__login-username,
    &__login-password {
      
      & input {
        width: 100%;
        padding: 10px;
        font-size: 1.5rem;
        border: 1px solid $main-color-black;
        border-radius: 4px;
        margin-bottom: 1rem;
    
        &:focus {
          border-color: $main-color-blue;
        }
      }
    }

    &__submit-button {
      background-color: $main-color-blue;
      color: $main-color-white;
      border: none;
      border-radius: 4px;
      padding: 1rem 2.5rem;
      width: 100%;
      margin-top: 1rem;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: $button-hover-bg;
      }
    }

    &__close-button {
      position: absolute;
      top: 1rem;
      right: 2rem;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: $main-color-black;
      cursor: pointer;
    }
  }

  label {
    display: flex;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: $main-color-black;
  }
  
  .error-message {
    color: red;
    font-size: 1.2rem;
  }