@import 'colors';
@import 'fonts';

.maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &__table-container {
        max-height: auto;
        overflow-y: auto;
        // overflow-x: auto;
      }
      
    &__table-scroll {
    max-width: 1000px;
    // overflow-x: auto;
    }

    &__title {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }

    .table {
        width: auto;
        height: auto;
        table-layout: fixed;
        border-collapse: collapse;
        font-size: 1.6rem;
        margin: 1rem 0 5rem;
      }
      
      .table th {
        padding: 12px 20px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        align-content: center;
        word-break: keep-all;
        background-color: $main-color-light-gray;
      }

      .table tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }

      .table td {
        padding: 0.5rem 0.5rem;
      }

      .table td:first-child {
        vertical-align: middle;
        position: sticky;
        left: 0;
        background: none;
        z-index: 1;
      }
      
    
    /* Detail view styling */
    &__details-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.5rem;
        width: 100%;
        background-color: $main-color-white;
      }
    
        &__cards-container {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        gap: 12px;
        padding: 20px;
        width: 100%;
        }
}