@import 'colors';
@import 'fonts';

.main-guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  
    &__search {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 52rem;
        gap: 2rem;
        margin-bottom: 2rem;

        input {
            font-size: 1.5rem;
        }
    }

    &__search-button {
        font-size: 1.5rem;
        background-color: $main-color-red;
        color: $main-color-white;
        border: none;
        border-radius: 2px;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $button-hover-bg;
        }
    }
    
    .table {
        width: 900px;
        height: auto;
        table-layout: fixed;
        border-collapse: collapse;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        overflow-x: auto;
      }
      
      th, td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
        text-align: center;
        overflow: hidden;
        white-space: normal;  // Allows text to wrap
        word-break: break-word;  // Breaks long words if needed
      }
      
      tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }
    
    /* Row highlighting on selection */
    .selectedRow {
        background-color: #d0e4f2 !important;
    }
    
    /* Detail view styling */
    .detailsContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; // Ensures content starts from the top
        padding: 1.5rem;
        width: 100%;
        background-color: $main-color-white;

        ul{
          background-color: $secondary-color-light-gray;
          width: 50%;
          padding: 1rem 2.5rem;
        }

        li {
          font-size: 1.6rem;
          line-height: 2.5;
          list-style-type: none;
          text-align: left; // Ensures list items are left-aligned
        }
      }
}